<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name Arabic</th>
      <th scope="col">Name English</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody *ngIf="notesList.length > 0; else elseTemplate">
    <tr *ngFor="let item of notesList">
      <td>{{item.nameAr}}</td>
      <td >{{item.nameEn}}</td>
      <td><button type="button" (click)="deleteNote(item.id)" class="btn btn-danger">Delete</button> ||
        <button type="button" (click)="navigatetoDetails(item.id)" class="btn btn-info">Details</button> ||
        <button data-toggle="modal" data-target="#exampleModal" type="button" class="btn btn-success" (click)="getNote(item.id); EditModal.show()">Edit</button></td>
        <div bsModal #EditModal="bs-modal" class="modal fade" tabindex="-1" ole="dialog"
              aria-labelledby="dialog-sizes-name1" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Your Note</h5>
        <button type="button" class="close"(click)="EditModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="NoteForm">
          <label>Arabic Name<span style="color: red;">*</span></label>
          <input class="form-control" formControlName="NameAr">
          <label>English Name<span style="color: red;">*</span></label>
          <input class="form-control" formControlName="NameEn">
          <label>Arabic Description<span style="color: red;">*</span></label>
          <textarea class="form-control" formControlName="DescriptionAr"></textarea>
          <label>English Description<span style="color: red;">*</span></label>
          <textarea class="form-control" formControlName="DescriptionEn"></textarea>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="EditModal.hide()">Close</button>
        <button type="button" class="btn btn-primary"  [disabled]="!NoteForm.valid" (click)="EditNote(item.id) ; EditModal.hide()" >Save changes</button>
      </div>
    </div>
  </div>
</div>
    </tr>
  </tbody>
</table>

<ng-template   #elseTemplate>
  <app-no-result></app-no-result>
</ng-template>

