<section>
  <div class="row alert alert-primary"><h4>Name Arabic :- </h4><h4>{{NoteObj.nameAr}}</h4></div>
  <div class="row alert alert-primary"><h4>Name English :- </h4><h4>{{NoteObj.nameEn}}</h4></div>
  <div class="row alert alert-primary"><h4>Description Arabic :- </h4><h4>{{NoteObj.descriptionAr}}</h4></div>
  <div class="row alert alert-primary"><h4>Description English :- </h4><h4>{{NoteObj.descriptionEn}}</h4></div>
  <div class="float-right">
    <button   type="button" class="btn btn-primary" (click)="navigateToHome()">
     Back to List
    </button>
  </div>
</section>





