.cls-1 {
  fill: #efefef;
}
.cls-1,
.cls-10,
.cls-2,
.cls-3,
.cls-6,
.cls-9 {
  stroke: #8b9a9f;
}
.cls-1,
.cls-2,
.cls-6 {
  stroke-linecap: round;
  stroke-linejoin: round;
}
.cls-1,
.cls-2,
.cls-3,
.cls-6 {
  stroke-width: 3px;
}
.cls-10,
.cls-2,
.cls-9 {
  fill: none;
}
.cls-3 {
  fill: #fff;
}
.cls-10,
.cls-3,
.cls-9 {
  stroke-miterlimit: 10;
}
.cls-4 {
  fill: #eee;
}
.cls-5,
.cls-6,
.cls-7,
.cls-8 {
  fill: #8b9a9f;
}
.cls-7,
.cls-9 {
  opacity: 0.5;
}
.cls-10,
.cls-8 {
  opacity: 0.26;
}
.cls-10,
.cls-9 {
  stroke-width: 2.24px;
}